.card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;

  &__logo {
    padding: toRem(32);

    &-svg {
      display: flex;
      width: toRem(100);
      align-items: center;
      order: 1;
    }
  }

  &__picture {
    display: flex;
    order: 2;
  }

  &__picture-mobile {
    display: flex;
    height: auto;
    max-width: toRem(1400);
    width: 100%;
  }

  &__picture-desktop {
    display: none;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: toRem(70);
    order: 3;

    &-heading {
      text-align: center;
      font-family: $josefin;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: toRem(19);
      line-height: toRem(42);
      color: $g-red;
      margin-bottom: toRem(16);
      font-size: toRem(40);
    }

    &-text {
      text-align: center;
      font-family: $josefin;
      font-weight: 400;
      max-width: toRem(350);
      color: $d-red;
      margin-bottom: toRem(32);
      line-height: toRem(25);
      opacity: 0.6;
    }

    &-email {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: toRem(15);
      max-width: toRem(490);
    }

    &-input {
      padding: toRem(15);
      border: toRem(1) solid $d-red;
      border-radius: toRem(100);
      border-right: 0px;
      width: 70%;
      margin-left: toRem(45);
      opacity: 0.3;
      font-family: $josefin;
      font-weight: 400;
      font-size: toRem(16);
      color: $d-red;
    }

    &-input:focus {
      outline: none;
      opacity: 1;
      color: black;
    }

    &-button {
      display: flex;
      justify-content: center;
      position: relative;
      right: toRem(60); 
      border-radius: toRem(100);
      border: toRem(1);
      background: $secondgradient;
      width: 17%;
      transition: all 1s ease;
    }

    &-button:hover {
      transform: scale(1.1) perspective(toRem(1));
      filter: drop-shadow(0 toRem(10) toRem(8) $d-red);
    }

    &-error {
      display: none;
      position: relative;
      right: toRem(80);
      top: toRem(15);
      height: toRem(23);
    }

    &-arrow {
      padding: toRem(15);
    }

    &-errormsg {
      display: none;
      font-family: $josefin;
      font-weight: 300;
      color: $s-red;
      opacity: 0.6;
      max-width: 40%;
      margin-right: toRem(200);
      margin-bottom: toRem(20);
      font-size: toRem(14);
    }
  }
}

.showblock {
  display: block;
}

.showborder {
  border: 1px solid red;
}

.accent {
  color: $d-red;
  font-weight: 300;
}

@media (min-width: $break-desktop) {
  .card {
    flex-direction: row;
    justify-content: center;
    background: url(../img/bg-pattern-desktop.svg);

    &__picture {
      order: 2;
      min-width: 100;

      &-desktop {
        display: block;
        margin-left: toRem(290);
        height: 100vh;
        box-sizing: border-box;
        min-width: 50%;
        margin-left: toRem(200);
      }

      &-mobile {
        display: none;
      }
    }

    &__logo {
      width: 10%;

      &-svg {
        width: toRem(170);
        margin-bottom: toRem(120);
        margin-left: toRem(185);
        display: block;
      }
    }

    &__main {
      order: 1;

      &-heading {
        text-align: left;
        font-size: toRem(60);
        line-height: toRem(68);
        margin-right: toRem(100);
      }

      &-text {
        text-align: left;
        max-width: toRem(480);
        line-height: toRem(30);
        font-weight: 300;
      }

      &-email {
        min-width: toRem(400);
        margin-bottom: toRem(15);
        margin-right: toRem(90);
      }

      &-errormsg {
        margin-right: toRem(300);
      }
    }
  }
}