.card {
  display: flex;
  flex-direction: column;

  &__logo {
    padding: toRem(32);

    &-svg {
      display: flex;
      width: toRem(100);
      align-items: center;
    }
  }

  &__picture-mobile {
    display: flex;
    height: auto;
    max-width: toRem(1400);
    width: 100%;
  }

  &__picture-desktop {
    display: none;
  }

  &__main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: toRem(70);

    &-heading {
      text-align: center;
      font-family: $josefin;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: toRem(19);
      line-height: toRem(42);
      color: $g-red;
      margin-bottom: toRem(16);
      font-size: toRem(40);
    }

    &-text {
      text-align: center;
      font-family: $josefin;
      font-weight: 400;
      max-width: toRem(350);
      color: $d-red;
      margin-bottom: toRem(32);
      line-height: toRem(25);
      opacity: 0.6;
    }

    &-email {
      display: flex;
      width: 100%;
      justify-content: center;
      margin-bottom: toRem(60);
      max-width: toRem(490);
    }

    &-input {
      padding: toRem(15);
      border: toRem(1) solid $d-red;
      border-radius: toRem(100);
      border-right: 0px;
      width: 70%;
      margin-left: toRem(45);
      opacity: 0.3;
      font-family: $josefin;
      font-weight: 400;
      font-size: toRem(16);
      color: $d-red;
    }

    &-input:focus {
      outline: none;
      opacity: 1;
      color: black;
    }

    &-button {
      display: flex;
      justify-content: center;
      position: relative;
      right: toRem(70); 
      border-radius: toRem(100);
      border: toRem(1);
      background: $secondgradient;
      width: 17%;
      transition: all 1s ease;
    }

    &-button:hover {
      transform: scale(1.1) perspective(toRem(1));
      filter: drop-shadow(0 toRem(10) toRem(8) $d-red);
    }

    &-error {
      display: none;
      position: relative;
      right: toRem(80);
      top: toRem(15);
      height: toRem(23);
    }

    &-arrow {
      padding: toRem(15);
    }

    &-errormsg {
      display: none;
      font-family: $josefin;
      font-weight: 300;
      color: $s-red;
      opacity: 0.6;
      margin-left: toRem(-180);
      margin-top: toRem(-50);
      font-size: toRem(14);
    }
  }
}

.accent {
  color: $d-red;
  font-weight: 300;
}

@media (min-width: $break-desktop) {
  .card {
    flex-direction: row;
    justify-content: center;
    background: url(/assets/img/bg-pattern-desktop.svg);

    &__picture-desktop {
      display: flex;
      order: -3;
    }

    &__picture-mobile {
      display: none;
    }

    &__logo {
      order: -2;

      &-svg {
        width: toRem(170);
      }
    }

    &__main {
      order: -1;
      margin-right: toRem(200);
      margin-left: toRem(-260);

      &-heading {
        text-align: left;
        margin-right: toRem(110);
        font-size: toRem(60);
        line-height: toRem(68);
      }

      &-text {
        text-align: left;
        width: toRem(430);
        max-width: toRem(480);
        line-height: toRem(30);
        font-weight: 300;
        margin-right: toRem(50);
      }

      &-email {
        min-width: toRem(600);
      }
    }
  }
}