@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&family=Playfair+Display:wght@900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(135deg, white 0%, #fff5f5 100%);
  min-height: 100vh;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.card__logo {
  padding: 2rem;
}

.card__logo-svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 6.25rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.card__picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.card__picture-mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  max-width: 87.5rem;
  width: 100%;
}

.card__picture-desktop {
  display: none;
}

.card__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4.375rem;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
}

.card__main-heading {
  text-align: center;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1.1875rem;
  line-height: 2.625rem;
  color: #413a3a;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}

.card__main-text {
  text-align: center;
  font-family: "Josefin Sans";
  font-weight: 400;
  max-width: 21.875rem;
  color: #ce9797;
  margin-bottom: 2rem;
  line-height: 1.5625rem;
  opacity: 0.6;
}

.card__main-email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.9375rem;
  max-width: 30.625rem;
}

.card__main-input {
  padding: 0.9375rem;
  border: 0.0625rem solid #ce9797;
  border-radius: 6.25rem;
  border-right: 0px;
  width: 70%;
  margin-left: 2.8125rem;
  opacity: 0.3;
  font-family: "Josefin Sans";
  font-weight: 400;
  font-size: 1rem;
  color: #ce9797;
}

.card__main-input:focus {
  outline: none;
  opacity: 1;
  color: black;
}

.card__main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  right: 3.75rem;
  border-radius: 6.25rem;
  border: 0.0625rem;
  background: linear-gradient(135deg, #f8bfbf 0%, #ee8c8c 100%);
  width: 17%;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card__main-button:hover {
  -webkit-transform: scale(1.1) perspective(0.0625rem);
          transform: scale(1.1) perspective(0.0625rem);
  -webkit-filter: drop-shadow(0 0.625rem 0.5rem #ce9797);
          filter: drop-shadow(0 0.625rem 0.5rem #ce9797);
}

.card__main-error {
  display: none;
  position: relative;
  right: 5rem;
  top: 0.9375rem;
  height: 1.4375rem;
}

.card__main-arrow {
  padding: 0.9375rem;
}

.card__main-errormsg {
  display: none;
  font-family: "Josefin Sans";
  font-weight: 300;
  color: #f96262;
  opacity: 0.6;
  max-width: 40%;
  margin-right: 12.5rem;
  margin-bottom: 1.25rem;
  font-size: 0.875rem;
}

.showblock {
  display: block;
}

.showborder {
  border: 1px solid red;
}

.accent {
  color: #ce9797;
  font-weight: 300;
}

@media (min-width: 62rem) {
  .card {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background: url(../img/bg-pattern-desktop.svg);
  }
  .card__picture {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    min-width: 100;
  }
  .card__picture-desktop {
    display: block;
    margin-left: 18.125rem;
    height: 100vh;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: 50%;
    margin-left: 12.5rem;
  }
  .card__picture-mobile {
    display: none;
  }
  .card__logo {
    width: 10%;
  }
  .card__logo-svg {
    width: 10.625rem;
    margin-bottom: 7.5rem;
    margin-left: 11.5625rem;
    display: block;
  }
  .card__main {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .card__main-heading {
    text-align: left;
    font-size: 3.75rem;
    line-height: 4.25rem;
    margin-right: 6.25rem;
  }
  .card__main-text {
    text-align: left;
    max-width: 30rem;
    line-height: 1.875rem;
    font-weight: 300;
  }
  .card__main-email {
    min-width: 25rem;
    margin-bottom: 0.9375rem;
    margin-right: 5.625rem;
  }
  .card__main-errormsg {
    margin-right: 18.75rem;
  }
}
/*# sourceMappingURL=main.css.map */