//Breakpoints
$break-desktop: toRem(1400);

//Colors
$d-red: hsl(0, 36%, 70%);
$s-red: hsl(0, 93%, 68%);
$g-red: hsl(0, 6%, 24%);

//Gradients
$firstgradient: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(255,245,245,1) 100%);
$secondgradient: linear-gradient(135deg, rgba(248,191,191,1) 0%, rgba(238,140,140,1) 100%);

//Fonts
$josefin: 'Josefin Sans';